* {
  margin: 0;
  padding: 0;
}

.button {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 12px;
  font-size: 18px;
  font-family: "FuturaPT", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  background: -webkit-linear-gradient(-4deg, rgb(42, 101, 95) 0%, rgb(2, 174, 178) 100%);
  border-radius: 44px;
  box-shadow: 0px 8px 18px 0px rgba(42, 101, 95, 0.19);
}

.button:hover {
  background: -webkit-linear-gradient(86deg, rgb(29, 70, 66) 0%, rgb(2, 174, 178) 100%);
}

.container {
  position: relative;
  background-color: #f6fbfb;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./img/picture_right.png), url(./img/picture_left.png), url(./img/top_right.png), url(./img/top_left.png), url(./img/picture_right_2.png), url(./img/picture_left_2.png), url(./img/picture_right_3.png), url(./img/picture_right_4.png), url(./img/picture_left_4.png), url(./img/picture_left_5.png), url(./img/picture_right_5.png), url(./img/picture_left_3.png), url(./img/picture_right_6.png), url(./img/picture_left_6.png);
  background-position: right 0px, left 380px, right 1050px, left 1320px, right 2023px, left 2240px, right 2890px, right 150px top 3450px, left 150px top 3390px, left 3600px, right 4450px, left 5060px, right 5400px, left 5660px;
  background-repeat: no-repeat;
  background-size: 570px, 400px, 275px, 265px, 320px, 330px, 320px, 100px, 180px, 340px, 440px, 400px, 340px, 320px;
}

.center {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header__top {
  position: absolute;
  width: 100%;
  height: 124px;
  padding-top: 13px;
  border-bottom-right-radius: 44px;
  border-bottom-left-radius: 44px;
  background-color: #eeeeee;
}
.header__box {
  display: flex;
  height: 44px;
  margin-left: 86px;
  margin-right: 86px;
  justify-content: space-between;
  align-items: center;
}
.header__text {
  max-width: 260px;
  font-size: 15px;
  font-family: "FuturaPT", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 0.9;
}
.header__menu {
  display: grid;
  grid-template-columns: repeat(6, 124px);
  gap: 5px;
}
.header__link {
  height: 21px;
  padding-top: 11px;
  padding-bottom: 12px;
  font-size: 16px;
  font-family: "FuturaPT", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 44px;
  transition: 0.2s;
}
.header__link:hover {
  background-color: #02aeb2;
  color: rgb(255, 255, 255);
}
.header__box1 {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  max-width: 1044px;
  margin-left: 86px;
  margin-right: 86px;
}
.header__stock {
  max-width: 410px;
  display: grid;
  grid-template-columns: 144px 144px 1fr;
  gap: 29px;
}
.header__stock-link {
  height: 21px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  font-family: "FuturaPT", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  background-color: #02aeb2;
  border-radius: 44px;
  transition: 0.2s;
}
.header__stock-link:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.header__stock-link_white {
  height: 21px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  font-family: "FuturaPT", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 44px;
  transition: 0.2s;
}
.header__stock-link_white:hover {
  background-color: #02aeb2;
  color: rgb(255, 255, 255);
}
.header__stock-search {
  background-image: url(./img/search.png);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 44px;
  background-color: #ffffff;
  margin-left: 18px;
  width: 45px;
  height: 44px;
}
.header__stock-search:hover {
  background-color: #8fd5d6;
  transition: 0.3s;
}
.header__logo {
  width: 120px;
  height: 44px;
}
.header__function {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(4, 44px);
  width: 234px;
}
.header__user, .header__frcircle, .header__shopping, .header__circle-phone {
  border-radius: 44px;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s;
}
.header__user:hover, .header__frcircle:hover, .header__shopping:hover, .header__circle-phone:hover {
  background-color: #8fd5d6;
}
.header__user {
  background-image: url(./img/user.png);
}
.header__frcircle {
  background-image: url(./img/frcircle.png);
}
.header__shopping {
  background-image: url(./img/shopping.png);
}
.header__circle-phone {
  background-image: url(./img/circle-phone.png);
}
.header__tel {
  font-size: 12px;
  font-family: "FuturaPT", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.1;
  width: 150px;
}
.header__bottom {
  margin: 0 2px;
  height: 180px;
  padding-left: 78px;
  padding-right: 78px;
  background-color: #02a8ac;
  border-bottom-right-radius: 44px;
  border-bottom-left-radius: 44px;
  box-shadow: 0px 26px 81px 0px rgba(2, 69, 70, 0.19);
}
.header__box3 {
  position: absolute;
  margin-left: 20px;
  top: 137px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  width: 993px;
}
.header__bottom-link {
  padding-top: 7px;
  border-right: 1px solid #85c3c4;
  background-image: url(./img/V.png);
  background-repeat: no-repeat;
  background-position: bottom 20px right 8px;
  background-size: 10px;
  text-decoration: none;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 18px;
  font-family: "FuturaPT";
  color: rgb(255, 255, 255);
  line-height: 1.364;
}
.header__bottom-link:hover {
  transform: matrix(0.9613624653, 0, 0, 0.9596587452, 0, 0);
}
.header__banner {
  height: 310px;
  background-image: url(./img/banner.png);
  background-position: top;
  background-size: 1200px;
  border-radius: 44px;
  padding-top: 62px;
}
.header__registration {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ffffff;
  border-radius: 44px;
  margin-left: 76%;
  width: 220px;
  height: 200px;
}
.header__ban-text {
  display: block;
  padding-bottom: 20px;
  padding-left: 22px;
  padding-top: 22px;
  font-size: 22px;
  font-family: "FuturaPT", sans-serif;
  color: #00040b;
  line-height: 1;
  text-align: left;
}
.header__ban-text_color {
  color: #02aeb2;
}
.header__ban-link {
  width: 180px;
  margin-bottom: 26px;
}

.main {
  border-top-left-radius: 44px;
  border-top-right-radius: 44px;
  background-color: #ffffff;
  box-shadow: 0px 26px 81px 0px rgba(2, 69, 70, 0.19);
  padding-bottom: 96px;
}

.info {
  height: 937px;
  background-color: #eeeeee;
  border-radius: 44px;
}
.info__top {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 342px);
  grid-template-rows: repeat(2, 120px);
  row-gap: 65px;
  grid-template-areas: "header header card1" "card2 card3 card4";
  padding-left: 86px;
  padding-right: 86px;
  align-items: center;
}
.info__header {
  grid-area: header;
  padding: 10px 0 10px 130px;
  font-size: 24px;
  width: 460px;
  font-family: "FuturaPT", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(0, 0, 0);
  background-image: url(./img/info_logo.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 102px;
}
.info__card {
  height: 120px;
  background-size: 118px;
  background-repeat: no-repeat;
  background-position: left center;
}
.info__card1 {
  grid-area: card1;
  background-image: url(./img/card1.png);
}
.info__card2 {
  grid-area: card2;
  background-image: url(./img/card2.png);
}
.info__card3 {
  grid-area: card3;
  background-image: url(./img/card3.png);
}
.info__card4 {
  grid-area: card4;
  background-image: url(./img/card4.png);
}
.info__text {
  width: 210px;
  padding-left: 132px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: "FuturaPT", sans-serif;
  color: rgb(0, 4, 11);
  line-height: 1.25;
  font-weight: normal;
  font-style: normal;
}
.info__text1 {
  padding-top: 0;
  height: 75px;
}
.info__text2 {
  padding-top: 21px;
  height: 25px;
}
.info__text3 {
  padding-top: 14px;
  height: 50px;
}
.info__text4 {
  padding-top: 14px;
  height: 50px;
}
.info__button {
  display: block;
  font-size: 13px;
  font-family: "FuturaPT";
  color: rgb(5, 168, 172);
  font-weight: normal;
  font-style: normal;
  display: block;
  width: 124px;
  padding: 5px 10px;
  margin-left: 132px;
  text-align: center;
  text-decoration: none;
  border-radius: 27px;
  border: 2px;
  border-style: solid;
  border-color: rgb(5, 168, 172);
}
.info__button:hover {
  color: rgb(5, 100, 102);
  border-color: rgb(5, 100, 102);
  background-color: #ffffff;
  transition: color 0.2s, border-color 0.2s;
}
.info__brands {
  max-width: 446px;
  padding: 70px 0 55px 86px;
  height: 52px;
  font-size: 62px;
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-weight: 400;
  background-color: #2AA5A0;
  background-image: -webkit-linear-gradient(-4deg, rgb(42, 101, 95) 0%, rgb(2, 174, 178) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 14px;
  font-style: normal;
  text-align: center;
}
.info__bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-left: 76px;
  padding-right: 76px;
  margin-bottom: 38px;
  justify-items: center;
  grid-row-gap: 10px;
  height: 265px;
}
.info__bottom-img {
  width: 196px;
  height: 128px;
}
.info__ban-link {
  max-width: 240px;
}

.news__banner {
  padding-top: 235px;
  background-image: url(./img/NEWS.png);
  background-size: 608px;
  height: 85px;
  background-repeat: no-repeat;
  background-position: left 180px bottom 0;
}
.news__ban-link {
  max-width: 240px;
  margin-left: 800px;
  margin-bottom: 100px;
}
.news__inform {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-left: 76px;
  padding-right: 76px;
  height: 826px;
  margin-top: 70px;
  margin-bottom: 62px;
}
.news__product {
  border-radius: 26px;
  background-color: rgb(255, 255, 255);
  box-shadow: -0.454px 10px 35px 0px rgba(2, 69, 70, 0.19);
}
.news__image {
  background-image: url(./img/EK0038.png);
  background-repeat: no-repeat;
  background-size: 227px 203px;
  background-position: top 33px center;
}
.news__image1 {
  background-image: url(./img/EK0038-1.png);
  background-repeat: no-repeat;
  background-size: 84px 187px;
  background-position: top 43px center;
}
.news__image2 {
  background-image: url(./img/EK0038-2.png);
  background-repeat: no-repeat;
  background-size: 156px 200px;
  background-position: top 41px center;
}
.news__image3 {
  background-image: url(./img/EK0038-3.png);
  background-repeat: no-repeat;
  background-size: 93px 200px;
  background-position: top 43px center;
}
.news__image4 {
  background-image: url(./img/EK0038.png);
  background-repeat: no-repeat;
  background-size: 227px 203px;
  background-position: top 33px center;
}
.news__image5 {
  background-image: url(./img/EK0038-1.png);
  background-repeat: no-repeat;
  background-size: 84px 187px;
  background-position: top 43px center;
}
.news__image6 {
  background-image: url(./img/EK0038-2.png);
  background-repeat: no-repeat;
  background-size: 156px 200px;
  background-position: top 41px center;
}
.news__image7 {
  background-image: url(./img/EK0038-3.png);
  background-repeat: no-repeat;
  background-size: 93px 200px;
  background-position: top 43px center;
}
.news__text {
  display: block;
  padding-top: 253px;
  padding-left: 25px;
  padding-bottom: 12px;
  font-size: 19px;
  font-family: "FuturaPT", sans-serif;
  color: rgb(0, 4, 11);
  line-height: 1.2;
  width: 180px;
  height: 70px;
}
.news__product-link {
  width: 208px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.advantages {
  padding-left: 76px;
  padding-right: 76px;
  margin-bottom: 86px;
}
.advantages__header {
  height: 128px;
  font-size: 62px;
  font-family: "Bebas Neue Cyrillic", sans-serif;
  color: rgb(32, 32, 32);
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  letter-spacing: 14px;
  font-style: normal;
}
.advantages__inform {
  display: grid;
  grid-template-columns: repeat(4, 257px);
  grid-template-rows: repeat(2, 225px);
  row-gap: 65px;
  padding-left: 10px;
  padding-right: 10px;
}
.advantages__items {
  padding-top: 140px;
  background-size: 118px;
  background-repeat: no-repeat;
  background-position: top center;
  transition: 0.5s ease;
}
.advantages__items:hover {
  background-size: 130px;
  cursor: pointer;
}
.advantages__item1 {
  background-image: url(./img/item1.png);
}
.advantages__item2 {
  background-image: url(./img/item2.png);
}
.advantages__item3 {
  background-image: url(./img/item3.png);
}
.advantages__item4 {
  background-image: url(./img/item4.png);
}
.advantages__item5 {
  background-image: url(./img/item5.png);
}
.advantages__item6 {
  background-image: url(./img/item6.png);
}
.advantages__item7 {
  background-image: url(./img/item7.png);
}
.advantages__item8 {
  background-image: url(./img/item8.png);
}
.advantages__text1 {
  padding-left: 0;
  text-align: center;
  padding-left: 0;
  width: auto;
}

.popular {
  padding-left: 76px;
  padding-right: 76px;
}
.popular__header {
  height: 128px;
  font-size: 62px;
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-weight: 400;
  background-color: #2AA5A0;
  background-image: -webkit-linear-gradient(-4deg, rgb(42, 101, 95) 0%, rgb(2, 174, 178) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 14px;
  font-style: normal;
  text-align: center;
}
.popular__inform {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  height: 404px;
  margin-bottom: 62px;
}

.well {
  background-image: url(./img/phone.png);
  background-repeat: no-repeat;
  background-size: 251px;
  height: 251px;
  background-position: left 372px top;
  margin-bottom: 62px;
}
.well__header {
  height: 65px;
  font-size: 62px;
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 14px;
  font-style: normal;
  padding-top: 50px;
}
.well__interval {
  padding-left: 124px;
  background-color: #2AA5A0;
  background-image: -webkit-linear-gradient(-4deg, rgb(42, 101, 95) 0%, rgb(2, 174, 178) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.well__interval_right {
  padding-left: 110px;
}
.well__text {
  height: 32px;
  padding-right: 100px;
  text-align: end;
  font-size: 20px;
  font-family: "FuturaPT", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  background-color: #2AA5A0;
  background-image: -webkit-linear-gradient(-4deg, rgb(42, 101, 95) 0%, rgb(2, 174, 178) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.well__ban-link {
  max-width: 240px;
  margin-left: 720px;
}
.well__inform {
  margin-bottom: 0px;
}

.subscription {
  padding-left: calc(50% - 520px);
  padding-right: calc(50% - 520px);
  background-color: #02aeb2;
}
.subscription__block {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 101px;
  padding-top: 36px;
}
.subscription__text {
  width: 404px;
  font-size: 20px;
  font-family: "FuturaPT";
  font-weight: 500;
  font-style: normal;
  color: rgb(255, 255, 255);
}
.subscription__input {
  width: 534px;
}
.subscription__mail {
  display: block;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 20px;
  font-size: 18px;
  font-family: "FuturaPT", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  border-radius: 44px;
  width: 514px;
  border: none;
  outline: none;
}
.subscription__button {
  position: absolute;
  width: 140px;
  padding-top: 8px;
  padding-bottom: 10px;
  top: 43px;
  right: 7px;
  border: 0;
}
.subscription__check {
  font-size: 16px;
  font-family: "FuturaPT";
  font-weight: 300;
  font-style: normal;
  color: rgb(255, 255, 255);
  padding-left: 12px;
  padding-top: 8px;
}
.subscription__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.subscription__checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.subscription__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #ffffff;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.subscription__checkbox:checked + label::before {
  border-color: #286863;
  background-color: #286863;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.main__bottom {
  background-color: #ffffff;
  box-shadow: 0px 26px 81px 0px rgba(2, 69, 70, 0.19);
  padding-bottom: 96px;
}

.bonus {
  margin: 0 auto;
  padding-top: 70px;
  height: 500px;
  width: 820px;
  display: flex;
  justify-content: space-between;
}
.bonus__box-left {
  width: 420px;
  background-image: url(./img/bonus.png);
  background-size: 426px 316px;
  background-repeat: no-repeat;
  background-position: left top 104px;
}
.bonus__text {
  height: 340px;
  font-size: 20px;
  font-family: "FuturaPT";
  font-weight: 600;
  padding-left: 20px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}
.bonus__text-color {
  color: rgb(2, 174, 178);
}
.bonus__button {
  display: block;
  width: 124px;
  padding: 6px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 27px;
  border: 2px;
  border-style: solid;
  border-color: rgb(5, 168, 172);
  font-size: 16px;
  font-family: "FuturaPT";
  color: rgb(5, 168, 172);
  background-color: #ffffff;
  margin-left: 160px;
  font-weight: 500;
  transition-duration: 0.3s;
}
.bonus__button:hover {
  background-color: rgb(5, 168, 172);
  color: rgb(255, 255, 255);
}
.bonus__box-right {
  padding-top: 132px;
  background-image: url(./img/box-right.png);
  background-repeat: no-repeat;
  background-size: 370px 495px;
  background-position: right top 10px;
  height: 368px;
  width: 375px;
}
.bonus__right-select {
  display: inline-block;
  background-color: #05a8ac;
  color: #ffffff;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  font-size: 17px;
  font-family: "FuturaPT";
  color: rgb(255, 255, 255);
  line-height: 1.8;
  border-radius: 50%;
  text-align: center;
  margin-left: 55px;
}
.bonus__right-select_2 {
  margin-top: 18px;
}
.bonus__right-select_3 {
  margin-top: 94px;
}
.bonus__right-link {
  text-align: center;
  font-size: 18px;
  font-family: "FuturaPT";
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #05a8ac;
  padding: 5px 22px 7px 15px;
  font-weight: normal;
  font-style: normal;
  border-radius: 12px;
  transition-duration: 0.3s;
}
.bonus__right-link:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.bonus__right-link_2, .bonus__right-link_3, .bonus__right-link_4 {
  padding-right: 15px;
}

.reviews {
  height: 331px;
}
.reviews__header {
  height: 108px;
  font-size: 62px;
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-weight: 400;
  background-color: #2AA5A0;
  background-image: -webkit-linear-gradient(-4deg, rgb(42, 101, 95) 0%, rgb(2, 174, 178) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 14px;
  font-style: normal;
  text-align: center;
}
.reviews__text {
  height: 94px;
  font-size: 20px;
  font-family: "FuturaPT";
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-style: normal;
  text-align: center;
}
.reviews__directory {
  display: flex;
  justify-content: space-between;
  height: 52px;
  width: 820px;
  margin: 0 auto;
}
.reviews__link1 {
  width: 260px;
  display: block;
  height: 52px;
  border-radius: 8px;
  transition-duration: 0.3s;
}
.reviews__link1:hover {
  box-shadow: 0 5px 30px 0 rgba(2, 174, 178, 0.2);
}
.reviews__link2 {
  text-decoration: none;
  width: 150px;
  display: block;
  border-radius: 8px;
  transition-duration: 0.3s;
}
.reviews__link2:hover {
  box-shadow: 0 5px 30px 0 rgba(2, 174, 178, 0.2);
}
.reviews__link3 {
  text-decoration: none;
  width: 220px;
  display: block;
  border-radius: 8px;
  transition-duration: 0.3s;
}
.reviews__link3:hover {
  box-shadow: 0 5px 30px 0 rgba(2, 174, 178, 0.2);
}
.reviews__item1 {
  background-image: url(./img/yandex.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px;
}
.reviews__item2 {
  background-image: url(./img/2GIS.png);
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: center;
}
.reviews__item3 {
  background-image: url(./img/Google.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: top -22px center;
}

.container-slider {
  padding-left: calc(50% - 410px);
  padding-right: calc(50% - 410px);
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.slider-prev,
.slider-next {
  height: 78px;
  border-radius: 50%;
  border: 0 solid #ffffff;
  cursor: pointer;
}

.slider-next:hover {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.slider-next:active {
  box-shadow: none;
}

.slider-prev:hover {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.slider-prev:active {
  box-shadow: none;
}

.slider {
  width: 560px;
  height: 280px;
  margin: 0 auto;
  overflow: hidden;
}
.slider__line {
  width: 2240;
  height: 280px;
  position: relative;
  display: flex;
  align-items: center;
  height: 280px;
  width: 2240px;
  left: 0;
  transition: all ease 1s;
}
.slider__image1, .slider__image2, .slider__image3, .slider__image4 {
  width: 560px;
}
.slider__image2 {
  height: 200px;
}
.slider__image3 {
  height: 185px;
}
.slider__image4 {
  height: 200px;
}

.response {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url(./img/response.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 216px;
}
.response__header {
  font-size: 62px;
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-weight: 400;
  background-color: #2AA5A0;
  background-image: -webkit-linear-gradient(-4deg, rgb(42, 101, 95) 0%, rgb(2, 174, 178) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 14px;
  font-style: normal;
  text-align: left;
}
.response__text {
  font-size: 20px;
  font-family: "FuturaPT";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  padding-right: 40px;
}

.answers {
  width: 800px;
  margin: 0 auto;
  padding-top: 38px;
}
.answers__ul {
  list-style-type: none;
}
.answers__list {
  height: 60px;
}
.answers__link {
  position: relative;
  width: 800px;
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 16px;
  font-size: 26px;
  font-family: "FuturaPT";
  color: rgb(0, 0, 0);
  font-style: normal;
  text-decoration: none;
  background-image: url(./img/group.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 42px;
}
.answers__link:hover + .answers__line {
  background-color: #02aeb2;
}
.answers__group {
  width: 10px;
  position: absolute;
  right: 15px;
  top: 28px;
  fill: #00040b;
}
.answers__line {
  background-color: rgb(232, 232, 232);
  height: 3px;
  border-radius: 3px;
  border: 0px solid rgb(232, 232, 232);
  transition: 0.3s;
}/*# sourceMappingURL=style.css.map */